[alias]
  a = add
  b = branch
  c = commit
  co = checkout
  d = diff
  f = fetch
  l = log
  m = merge
  r = rebase
  s = status

[core]
  editor = nvim

[init]
  defaultBranch = main

[user]
  name = caojoshua
  email = cao.joshua@yahoo.com

